<h3><i class="fas fa-book"></i>Stories</h3>

<div class="section">
    <p class="lead">
        Create amazing public or private stories
    </p>
</div>

<hr>

<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>

